@media #{$small-up}{

  // 404 page
  .page-node-165{

    .region-content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: $white;
      text-align: center;
      width: 100%;
      height: 100vh;
      min-height: 600px;
      background: linear-gradient(45deg, $blue, $violet);
      background-size: 200% 200%;
      animation: gradientAnimate 6s ease-in-out infinite;
    }

    .field--name-title{
      font-size: 25vw;
      padding: 0;
    }

    .field--name-field-page-body{
      padding: 0 0 2rem;
      @include link-square;

      p:first-child{
        padding: 0 0 1.25em;
      }
    }
  }
}

@media #{$medium-up}{

  // Post page
  .page-node-165{

    .field--name-title{
      font-size: 18vw;
    }
  }
}

@media #{$large-up}{

  // Post page
  .page-node-165{

    .field--name-title{
      font-size: 12vw;
    }
  }
}
