@media #{$small-up}{

  // Articles
  .page-node-type-article{

    .article-pager{
      display: none;
    }

    .article-featured-content{
      position: relative;
    }

    .article-featured-image{
      display: flex;
      justify-content: center;
      background: $black;
      z-index: 5;

      img{
        width: auto;
        max-height: 85vh;
        max-width: 85vw;
      }
    }

    .article-featured-video{
      position: relative;
      background: #000;
      z-index: 5;

      .video-embed-field-responsive-video{
        display: flex;
        justify-content: center;
      }

      iframe{
        max-width: 85vw;
        margin: 0 auto;
      }
    }

    .field--name-field-body-text{

      p{
        padding: 0 1rem 2.5em;
        max-width: 45rem;
        margin: auto;
      }
    }

    .field--name-field-body-image{
      margin: 0 0 3em;
    }

    .field--name-field-tags{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      background: $black;
      padding: 5vw;
      position: relative;
      z-index: 15;

      a{
        color: $white;
        font-size: 1rem;
        margin: .75em;
        text-transform: uppercase;

        &:before,
        &:after{
          background: $white;
        }
      }
    }
  }
}

@media #{$medium-up}{

  // Articles
  .page-node-type-article{

    .field--name-field-tags{

      a{
        font-size: 2.5vw;
        margin: 0 .75em;
      }
    }
  }
}

@media #{$large-up}{

  // Articles
  .page-node-type-article{

    .field--name-field-body-text{

      p{
        max-width: 60vw;
      }
    }

    .field--name-field-body-image{
      display: flex;
      justify-content: center;

      img{
        max-height: 85vh;
        max-width: 85vw;
        width: auto;
      }
    }

    .field--name-field-tags{

      a{
        font-size: 1.8vw;
      }
    }

    .article-pager{
      display: block;

      .field--name-field-prev{
        position: fixed;
        right: 1rem;
        top: calc(42.5vh - 14px);
        
        a{
          position: relative;
          display: block;
          width: 28px;
          height: 30px;
          text-indent: -9999px;
          overflow: hidden;
          z-index: 10;

          &:before{
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            width: 0;
            height: 0;
            border-top: 15px solid transparent;
            border-left: 28px solid $gray;
            border-bottom: 15px solid transparent;
            opacity: .75;
            transform: scale(.75);
            transition: $out-transition;
          }

          &:hover{
            &:before{
              opacity: 1;
              transform: scale(1);
              transition: $in-transition;
            }
          }
        }
      }

      .field--name-field-next{
        position: fixed;
        left: 1rem;
        top: calc(42.5vh - 14px);
        
        a{
          position: relative;
          display: block;
          width: 28px;
          height: 44px;
          text-indent: -9999px;
          overflow: hidden;
          z-index: 10;

          &:before{
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            width: 0;
            height: 0;
            border-top: 15px solid transparent;
            border-right: 28px solid $gray;
            border-bottom: 15px solid transparent;
            opacity: .75;
            transform: scale(.75);
            transition: $out-transition;
          }

          &:hover{
            &:before{
              opacity: 1;
              transform: scale(1);
              transition: $in-transition;
            }
          }
        }
      }
    }

    .no-featured-content{

      .article-pager{

        .field--name-field-prev,
        .field--name-field-next{
          top: calc(50vh - 11px);    
        }
      }
    }
  }
}
