@media #{$small-up}{

  // Articles
  .page-node-type-article{

    .field--name-field-image{
      display: flex;
      justify-content: center;
      background: $black;

      img{
        width: inherit;
        margin: 0 auto;
        min-width: inherit;
        max-height: 85vh;
      }
    }

    .field--name-field-video{
      display: flex;
      justify-content: center;
      background: $black;
      max-height: 85vh;
    }

    h1{
      max-width: 40rem;
      font-size: 4vw;
      margin: 0 auto;
      padding: 3.5vw 0 1.25vw;
    }

    .field--name-body{
      padding: 1.25vw 2.5vw 2.5vw;

      p{
        max-width: 40rem;
        line-height: 2;
        margin: 0 auto;
        padding: 0 0 2.5vw;
      }
    }

    .field--name-field-tags{
      display: flex;
      justify-content: center;
      background: $black;
      padding: 5vw;

      a{
        color: $white;
        font-size: 1.5vw;
        margin: 0 1.5vw;
        text-transform: uppercase;

        &:before,
        &:after{
          background: $white;
        }
      }
    }
  }
}
