@media #{$small-up}{

  // Contact
  .path-contact{

    #block-contactpageheader{
      color: $white;
      background: $blue;
      text-align: center;
      padding: 5vw 20px;

      .field--name-body{
        padding: 0;
        max-width: 500px;
        margin: 0 auto;

        h1, p{
          animation: 1s ease-out fromTop;
        }
      }
    }
  }
}