// Contact
.path-contact{

  @media #{$small-up}{

    .layout-container{
      color: $white;
      background: $blue;
    }

    form{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}