@media #{$small-up}{

  // Pages
  .page-node-type-page{

    h1.page-title{
      max-width: 40rem;
      margin: auto;
    }

    .field--name-body{

      h1, h2, h3,
      h4, h5, h6,
      p, ul, ol{
        max-width: 40rem;
        margin: auto;
      }

      p{
        margin-bottom: 3.2vw;
      }
    }
  }
}
