@media #{$small-up}{

  // Post page
  .path-posts{

    // Hero
    #block-postspageheader{
      color: $white;
      background: $blue;
      text-align: center;
      padding: 5vw 20px;

      .field--name-body{
        padding: 0;
        max-width: 500px;
        margin: 0 auto;

        h1, p{
          animation: 1s ease-out fromTop;
        }
      }
    }

    // List cta
    #block-postslistbanner{
      color: $white;
      display: flex;
      justify-content: center;
      background: $cyan;
      padding: 1rem;
      @include link-square;

      p{
        margin: 0;
        font-size: 1.5vw;
      }
    }
  }
}
