@media #{$small-up}{

  // Post page
  .path-posts{

    // Hero
    #block-postspageheader{
      color: $white;
      background: $blue;
      text-align: center;
      padding: 3rem 20px;

      h1{
        font-size: 6.5vw;
      }
    }

    // List cta
    #block-postslistbanner{
      color: $white;
      display: flex;
      justify-content: center;
      background: $cyan;
      padding: 1rem;
      @include link-square;

      p{
        font-size: 1.5vw;
        padding: 0;
      }

      .field--name-body{
        padding: 0;
      }
    }

    // Teaser container
    .views-infinite-scroll-content-wrapper{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
