@media #{$small-up}{

  // Work page
  .path-work{

    // Hero
    #block-workpageheader{
      color: $white;
      background: $blue;
      text-align: center;
      padding: 3rem 20px;

      h1{
        font-size: 15vw;
      }
    }

    // List cta
    #block-worklistbanner{
      color: $white;
      display: flex;
      justify-content: center;
      background: $cyan;
      padding: 1rem;
      @include link-square;

      p{
        font-size: 3.5vw;
        padding: 0;
      }

      .field--name-body{
        padding: 0;
      }
    }

    // Teaser container
    .views-infinite-scroll-content-wrapper{
      display: flex;
      flex-wrap: wrap;
    }
  }
}

@media #{$medium-up}{

  // Post page
  .path-work{

    // Hero
    #block-workpageheader{
      h1{
        font-size: 10vw;
      }
    }

    // List cta
    #block-worklistbanner{

      p{
        font-size: 2vw;
      }
    }
  }
}

@media #{$large-up}{

  // Post page
  .path-work{

    // Hero
    #block-workpageheader{

      h1{
        font-size: 6.5vw;
      }
    }

    // List cta
    #block-worklistbanner{

      p{
        font-size: 1.5vw
      }
    }
  }
}
