@media #{$small-up}{

  .article-pager{
    display: none;
  }
}

@media #{$large-up}{

  .article-pager{
    display: block;

    .field--name-field-prev,
    .field--name-field-next{
      position: fixed;
      z-index: 12;
      width: 250px;
      top: calc(42.5vh - 15px);
      background: $white;

      &:before{
        content: '';
        cursor: pointer;
        position: absolute;
        top: calc(50% - 15px);
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        opacity: .75;
        transform: scale(.75);
        transition: $out-transition;
      }

      &:hover{
        &:before{
          opacity: 0;
          transform: scale(1);
          transition: $in-transition;
        }
      }
      
      .field--name-title{
        font-size: 1rem;
        padding: .5em;
      }

      a.adjacent-title{
        width: 100%;
        text-align: center;
        font-weight: 900;
        text-decoration: none;
        text-transform: uppercase;
      }
    }

    .field--name-field-prev{
      right: 0;
      transform: translate(250px,0);
      transition: all ease-out .25s;

      &:before{
        left: -45px;
        border-left: 28px solid $gray;
      }

      &:hover{
        transform: translate(0,0);
        transition: all ease-out .25s;
      }
    }

    .field--name-field-next{
      left: 0;
      transform: translate(-250px,0);
      transition: all ease-out .25s;

      &:before{
        right: -45px;
        border-right: 28px solid $gray;
      }

      &:hover{
        transform: translate(0,0);
        transition: all ease-out .25s;
      }
    }
  }

  .no-featured-content{

    .article-pager{

      .field--name-field-prev,
      .field--name-field-next{
        top: calc(50vh - 15px);    
      }
    }
  }
}
