@media #{$small-up}{  

  // Blocks
  #block-availableforwork{
    color: $white;
    display: flex;
    justify-content: center;
    background: $cyan;
    padding: 1rem;
    @include link-square;

    p{
      font-size: 3.5vw;
    }
  }
}

@media #{$medium-up}{  

  // Blocks
  #block-availableforwork{
    padding: 1.5vw;

    p{
      font-size: 2vw;
    }
  }
}

@media #{$large-up}{  

  // Blocks
  #block-availableforwork{

    p{
      font-size: 1.5vw;
    }
  }
}
