@media #{$small-up}{  

  // Forms
  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 30rem;
    padding: 4rem 1rem;
    margin: 0 auto;

    input:focus,
    textarea:focus{
     outline: 0; 
    }

    .form-item{
      padding: 0;
      margin: 0 0 2em;
      position: relative;

      label{
        position: absolute;
        top: .5em;
        left: 0;
        color: $gray;
        display: inline-block;
        width: 100%;
        clear: both;
        font-size: 1em;
        width: 100%;
        transition: $in-transition;
      }

      .active-bar{
        height: 2px;
        width: 100%;
        background: $gray;
        position: relative;

        &:before,
        &:after{
          content: '';
          position: absolute;
          top: 0;
          background: $blue;
          width: 100%;
          height: 4px;
          opacity: 0;
          transition: $out-transition;
        }

        &:before{
          left: 100%;
        }

        &:after{
          right: 100%;
        }
      }

      input,
      textarea{
        border: 0;
        display: block;
        width: 100%;
        max-width: 30rem;
        padding: .75em .5em;
        height: inherit;
        transition: padding .1s ease-in-out;

        &:focus{
          background: $gray-light;
        }

        &:not(:focus){
          padding: .75em 1em .75em 0;
          transition: padding .1s ease-in-out;
        }

        &:focus ~ label,
        &:not(.empty) ~ label,
        &:-webkit-autofill ~ label{
          top: -2em;
          color: $black;
          font-size: .5em;
          transition: $in-transition;
        }

        &:focus ~ .active-bar,
        &:not(.empty) ~ .active-bar,
        &:-webkit-autofill ~ .active-bar{

          &:before{
            left: 0;
            opacity: 1;
            transition: $in-transition;
          }

          &:after{
            right: 0;
            opacity: 1;
            transition: $in-transition;
          }
        }

        &:-webkit-autofill {
          -webkit-box-shadow: 0 0 0px 1000px $white inset;
          -webkit-text-fill-color: $blue;

          &:focus{
            -webkit-box-shadow: 0 0 0px 1000px $gray-light inset;
          }
        }
      }

      .form-required:after{
        content: '*';
        font-size: 1em;
        color: $red;
        background: transparent;
        position: relative;
        top: .2em;
      }

      &.form-type-item{
        width: 100%;
        padding: 1rem;
        color: rgba(0,0,0,.4);
        border: 2px solid rgba(0,0,0,.1);
      }
    }

    .form-actions{
      margin: 0;
    }

    #edit-submit{
      color: $blue;
      background: $white;
      border: 2px solid $blue;
      border-radius: 3em;
      margin: 1em .5em 0;
      padding: 1em 1.75em;
      transition: $out-transition;

      &:focus,
      &:hover{
        color: $white;
        background: $blue;
        transition: $in-transition;
      }
    }

    // Hidden elements
    .description,
    #edit-preview{
      display: none;
    }
  }
}
