@media #{$small-up}{  

  .view-header,
  #block-aboutpageheader,
  #block-contactpageheader,
  #block-resumepageheader{
    color: $white;
    background: $blue;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 20px;

    h1{
        font-size: 15vw;
    }
  }
}

@media #{$medium-up}{

  .view-header,
  #block-aboutpageheader,
  #block-contactpageheader,
  #block-resumepageheader{

    h1{
      font-size: 10vw;
    }
  }
}

@media #{$large-up}{

  .view-header,
  #block-aboutpageheader,
  #block-contactpageheader,
  #block-resumepageheader{

    h1{
      font-size: 6.5vw;
    }
  }
}
