@media #{$small-up}{

  // Hero
  #hero{
    position: relative;
    display: flex;
    flex-direction: column;
  }

  #hero-photo{
    background: $blue;
    position: relative;
    height: 70vw;
    animation: 1s ease-out reveal;

    // Hide profile photo on mobile
    > img{
      display: none;
    }
  }

  #hero-logo{
    position: absolute;
    top: 14vw;
    left: 15%;
    width: 70%;
    animation: 1.5s ease-out reveal;
  }

  #hero-content{
    padding: 2.5rem 1.5rem;
    display: flex;
    align-items: center;
    text-align: center;
    animation: 2.5s ease-out reveal;
  }
}

@media #{$medium-up}{

  // Hero
  #hero{
    flex-direction: row;
  }

  #hero-photo{
    height: auto;
    flex-basis: 61.25%;
    background: transparent;
    animation: 1s ease-out fromLeft;

    // Reveal profile photo
    > img{
      display: block;
    }
  }

  #hero-logo{
    position: absolute;
    top: 15vw;
    left: 8.5vw;
    width: 48%;
    animation: 1.5s ease-out fromLeft;
  }

  #hero-content{
    margin-left: -2vw;
    flex-basis: 38.75%;
    text-align: left;
    padding: 4vw 4vw 4vw 0;
    background: transparent;
    animation: 2.5s ease-out reveal;
  }
}
