// Mixins

@mixin link-animation{
  position: relative;
  text-decoration: none;
  display: inline-flex;
  overflow: hidden;

  &:before{
    content: '';
    height: 2px;
    width: 100%;
    background: transparent;
    position: absolute;
    bottom: 0;
    left: -100%;
    transition: all ease-in-out .25s;
  }

  &:after{
    content: '';
    height: 2px;
    width: 100%;
    background: transparent;
    position: absolute;
    bottom: 0;
    right: -100%;
    transition: all ease-in-out .25s;
  }

  &:hover{
    
    &:before{
      left: 0;
      background: #000;
      transition: all ease-in-out .1s;
    }

    &:after{
      right: 0;
      background: #000;
      transition: all ease-in-out .1s;
    }
  }
}
