@media #{$small-up}{

  // Pager
  .pager{
    display: flex;
    justify-content: center;
    background: $black;

    li{
      float: left;
      padding: 0;
    }

    a{
      float: left;
      color: $white;
      font-weight: 900;
      font-size: 1.4vw;
      padding: 1.25em 1.5em;
      text-decoration: none;
      transition: $out-transition;

      &:hover,
      &:focus{
        background: $blue;
        transition: $in-transition;
      }
    }

    .is-active{
      a{
        background: $blue;
      }
    }

    .pager__item--ellipsis{
      color: #fff;
      font-size: 1.4vw;
      padding: 1.25em .75em;
    }

    .pager__item--first,
    .pager__item--last{
      display: none;
    }
  }
}
