@media #{$small-up}{

  .pager{
    display: flex;
    justify-content: center;
    background: $black;

    li{
      padding: 0;

      &.is-active a{
        background: $cyan;
      }

      &.pager__item--first,
      &.pager__item--ellipsis,
      &.pager__item--last{
        display: none;
      }
    }

    a{
      float: left;
      color: $white;
      background: $blue;
      font-weight: 900;
      font-size: 1rem;
      padding: 1.5em 1em;
      text-decoration: none;
      transition: $out-transition;

      &:hover,
      &:focus{
        background: $cyan;
        transition: $in-transition;
      }
    }
  }
}

@media #{$medium-up}{

  .pager{

    a{
      padding: 1.25em 1.5em;
    }
  }
}

@media #{$large-up}{

  .pager{

    a{
      font-size: 1.4vw;
    }
  }
}
