@media #{$small-up}{

  // Pager
  .pager{
    display: flex;
    justify-content: center;
    background: $black;

    li{
      float: left;
      padding: 0;
    }

    a{
      float: left;
      color: $white;
      background: $blue;
      font-weight: 900;
      font-size: 1rem;
      padding: 1.5em 1em;
      text-decoration: none;
      transition: $out-transition;

      &:hover,
      &:focus{
        background: $cyan;
        transition: $in-transition;
      }
    }

    .is-active{
      a{
        background: $blue;
      }
    }

    .pager__item--ellipsis{
      color: #fff;
      font-size: 1rem;
      padding: 1.5em .25em;
    }

    .pager__item--first,
    .pager__item--previous,
    .pager__item--next,
    .pager__item--last{
      display: none;
    }
  }

  .ajax-progress-fullscreen {
    display: inline-block;
    left: 49%;
    position: fixed;
    top: 48.5%;
    z-index: 1000;
    background-color: red;
    background-image: none;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 7px;
    height: 24px;
    opacity: 0.9;
    padding: 4px;
    width: 24px;
  }
}

@media #{$medium-up}{
  
  // Pager
  .pager{

    a{
      padding: 1.25em 1.5em;
    }

    .pager__item--ellipsis{
      padding: 1.25em .75em;
    }
  }
}

@media #{$large-up}{

  // Pager
  .pager{

    a{
      font-size: 1.4vw;
    }

    .pager__item--ellipsis{
      font-size: 1.4vw;
    }
  }
}
