@media #{$small-up}{  

  // Prettyprint
  pre.prettyprint{
    color: #ccc;
    padding: 0 0 0 2.5rem;
    background: #000;
    border: 1rem solid $white;
    margin: 0 auto 2.5em;
    counter-reset: line; 

    ol{
      display: table;
      margin-left: 1em;
      width: 100%;

      li{
        background: $black;
        list-style-type: none;
        padding-left: .75em;
        position: relative;

        &:before{
          width: 2em;
          position: absolute;
          opacity: .4;
          left: -3em;
          text-align: right;
          counter-increment: line; 
          content: counter(line);
        }

        &:first-child{
          padding-top: 1.5em;
        }

        &:last-child{
          padding-bottom: 1.5em;
        }
      }
    }

    // Basic element colors
    .kwd { color: $red; } /* keyword */
    .pln { color: #268bd2; } /* plaintext */
    .pun { color: #839496; } /* punctuation */
    .typ { color: #b58900; } /* type */
    .com { color: #899898; font-style: italic; } /* comment */
    .lit { color: #859900; } /* literal */
    .str { color: #2aa198; } /* string */
    .tag { color: #268bd2; } /* tag */
    .atn { color: #657b83; } /* attribute name */
    .atv { color: #2aa198; } /* attribute value */
    .opn { color: #839496; } /* Lisp open bracket */
    .clo { color: #839496; } /* Lisp close bracket */
    .dec { color: #839496; font-style: italic; } /* declaration */
  }
}

@media #{$large-up}{

  // Prettyprint
  pre.prettyprint{
    max-width: 85vw;
  }
}
