@media #{$small-up}{  

  .field--name-field-recommended-content{
    display: flex;
    justify-content: center;
    background: $black;
    position: relative;
    z-index: 15;
    overflow: hidden;
    cursor: pointer;

    &:before{
      content: 'More content like this';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(28,31,30,.8);
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 6.5vw;
      font-weight: 900;
      color: $white;
      text-transform: uppercase;
      transition: $out-transition;
    }

    &:hover,
    &:focus{

      &:before{
        background: rgba(28,31,30,0);
        top: -100%;
        transition: $in-transition;
      }
    }

    > .field__item{
      width: 33.33333%;
      position: relative;
      overflow: hidden;
    }

    h2 a{
      display: none;
      position: absolute;
      bottom: -100%;
      z-index: 10;
      left: 0;
      width: 100%;
      padding: 1em;
      background: rgba(255,255,255,.95);
      font-size: 1.5vw;
      transition: $out-transition;

      &:before,
      &:after{
        display: none;
      }
    }

    img{
      z-index: 5;
      transform: scale(1);
      transition: all ease-out .1s;
    }

    .field--name-title{
      padding: 0;
      margin: 0;
    }
  }
}

@media #{$medium-up}{  

  .field--name-field-recommended-content{

    &:before{
      font-size: 6vw;
    }

    h2 a{
      display: block;
    }
  }
}

@media #{$large-up}{  

  .field--name-field-recommended-content{

    &:before{
      font-size: 4.5vw;
    }

    > .field__item{

      &:hover{
        
        h2 a{
          bottom: 0;
          transition: $in-transition;
        }

        img{
          transform: scale(1.1);
          transition: all ease-out 2.5s;
        }
      }
    }
  }
}
