@media #{$small-up}{

  // Admin tabs
  .tabs{
    display: flex;
    background: $gray;

    ul{
      width: 100%;
      margin: 0 auto;
      max-width: 1000px;
    }

    li{
      float: left;
      padding: 0;
      margin: 0;
    }

    a{
      float: left;
      color: $white;
      font-weight: 900;
      font-size: .9rem;
      text-transform: uppercase;
      padding: .5em 1.25em;
      text-decoration: none;
      transition: $out-transition;

      &:hover,
      &:focus{
        background: $cyan;
        transition: $in-transition;
      }
    }

    .is-active{
      
      a{
        background: $cyan;
      }
    }
  }
}

@media #{$medium-up}{

  // Admin tabs
  .tabs{
    padding: 0 2rem;

    a{
      font-size: 1.15rem;
    }
  }
}

@media #{$large-up}{

  // Admin tabs
  .tabs{
    padding: 0 2rem;

    a{
      font-size: 1.25rem;
    }
  }
}
