// Admin tabs
.tabs{
  display: flex;
  justify-content: center;
  background: $black;

  ul{
    margin: 0;
  }

  li{
    float: left;
    padding: 0;
    margin: 0;
  }

  a{
    float: left;
    color: $white;
    font-weight: 900;
    font-size: 1.2vw;
    padding: 1.25em 1.5em;
    text-decoration: none;
    transition: $out-transition;

    &:hover,
    &:focus{
      background: $blue;
      transition: $in-transition;
    }
  }

  .is-active{
    
    a{
      background: $blue;
    }
  }
}
