// Teasers
.node-teaser{
  display: flex;
}

.teaser-group{
  width: 50%;
}

.teaser-image{
  overflow: hidden;
  img{
    transform: scale(1);
    transition: all ease-in-out .1s;
  }
  &:hover{
    img{
      transform: scale(1.1);
      transition: all ease-in-out 2.5s;
    }
  }
}

.teaser-content{
  padding: 1rem;
}
