// Teasers
.node-teaser{
  display: flex;
}

// Teaser groupings
.teaser-group{
  width: 50%;
}

// Teaser image container
.teaser-image{
  overflow: hidden;

  img{
    transform: scale(1);
    transition: all ease-in-out .1s;
  }

  &:hover{

    img{
      transform: scale(1.1);
      transition: all ease-in-out 2.5s;
    }
  }
}

// Teaser content container
.teaser-content{
  padding: 4vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// Teaser description
.field--name-body{
  padding: 1vw 0 0;
  flex-grow: 1;
}

// Teaser Tags
.field--name-field-tags{
  display: flex;

  .field__item{
    margin-right: 1.5vw;

    a{
      font-size: 1.3vw;
      font-weight: 700;
      line-height: 1.5;
      text-transform: uppercase;
    }

    &:last-child{
      margin-right: 0;
    }
  }
}

// Creating teaser content offset
.view-post-articles{

  .views-row:nth-child(even){

    .node-teaser{
      flex-direction: row-reverse;
    }
  }
}
