// Type
@import url(https://fonts.googleapis.com/css?family=Lato:400,900);

body{
  font-size: 100%;
  text-rendering:optimizeLegibility;
  font-family: 'Lato', sans-serif;
}

p{
  margin: 0 0 1rem;
}

a{
  color: #000;
  position: relative;
  text-decoration: none;
  display: inline-block;
  overflow: hidden;
  top: 4px;

  &:before{
    content: '';
    height: 2px;
    width: 100%;
    background: transparent;
    position: absolute;
    bottom: 0;
    left: -100%;
    transition: all ease-in-out .25s;
  }

  &:after{
    content: '';
    height: 2px;
    width: 100%;
    background: transparent;
    position: absolute;
    bottom: 0;
    right: -100%;
    transition: all ease-in-out .25s;
  }

  &:hover{
    
    &:before{
      left: 0;
      background: #000;
      transition: all ease-in-out .1s;
    }

    &:after{
      right: 0;
      background: #000;
      transition: all ease-in-out .1s;
    }
  }
}

h1{
  text-transform: uppercase;
}

h2{
  text-transform: uppercase;
}

h3{

}

h4{

}
