// Footer
footer{
  padding: 6rem 3rem;
  background: $violet;
}

.region-footer{
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  color: #fff;

  .block-menu{
    width: 25%;

    h2{
      font-size: 1.5vw;
      padding: 0 .5em;
    }
  }

  ul{
    margin: 0;

    li{
      margin: 0;
    }

    a,
    a.is-active{
      float: left;
      width: 100%;
      color: #fff;
      text-transform: uppercase;
      font-size: 1.25vw;
      padding: .5em;
      text-decoration: none;
    }
  }
}
