@media #{$small-up}{

  // Header
  header{
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $blue;
    transition: $out-transition;

    .region-header{
      width: 100%;
    }

    .menu{
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-content: center;

      li{
        width: 100%;
        padding: 0;
      }

      a{
        width: 100%;
        color: $white;
        display: block;
        font-size: 1.75rem;
        padding: 1em;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 900;
        transition: $out-transition;

        &.is-active{
          color: $white;
          background: $blue;
        }

        &:hover{
          background: $cyan;
          transition: $in-transition;
        }
      }
    }
  }

  // Toggle sidebar navigation
  #menu-toggle{
    position: fixed;
    top: 0;
    right: -57px;
    width: 57px;
    height: 57px;
    padding: 16px;
    cursor: pointer;
    background: $blue;
    z-index: 75;
    transition: $out-transition;

    &.menu-toggle-active{
      right: 0;
      transition: $in-transition;
    }

    .menu-bar{
      height: 3px;
      position: absolute;
      background: $white;
      transition: $out-transition;

      &:first-child{
        width: calc(100% - 32px);
        top: 19px;
        left: 16px;
        transition: $out-transition;
      }

      &:nth-child(2){
        width: calc(94% - 32px);
        top: 27px;
        left: 16px;
        transition: $out-transition;
      }

      &:last-child{
        width: calc(88% - 32px);
        top: 35px;
        left: 16px;
        transition: $out-transition;
      }
    }
  }

  // Active menu settings
  .menu-active{

    // Header
    header{
      right: 0;
      transition: $in-transition;
    }

    // Toggle sidebar navigation
    #menu-toggle{

      .menu-bar{

        &:first-child{
          top: 27px;
          transform: rotate(45deg);
          transition: $in-transition;
        }

        &:nth-child(2){
          opacity: 0;
          transform: scale(0);
          transition: $in-transition;
        }

        &:last-child{
          top: 27px;
          width: calc(100% - 32px);
          transform: rotate(-45deg);
          transition: $in-transition;
        }
      }
    }
  }
}

@media #{$medium-up}{

  // Header
  header{
    right: -320px;
    max-width: 320px;
    background: $black;
    align-items: flex-start;

    .menu{
      border-top: 57px solid $blue;

      a{
        padding: 1.25em;
        text-align: left;
        font-size: 1.25rem;

        &.is-active{
          color: $white;
          background: $cyan;
        }

        &:hover,
        &:active{
          background: $blue;
          transition: $in-transition;
        }
      }
    }
  }

  // Content overlay when navigation is active
  body{

    &:before{
      content: '';
      position: absolute;
      right: 100vw;
      width: 100%;
      height: 100%;
      z-index: 25;
      background: rgba(28,31,30,.8);
      transition: $out-transition;
    }

    &.menu-active{

      &:before{
        right: 0;
        transition: $in-transition;
      }
    }
  }
}

@media #{$large-up}{

  // Header
  header{

    .menu{

      li{
      }

      a{
        font-size: 1.4vw;
      }
    }
  }
}
