@media #{$small-up}{

  // Header
  #block-shell-main-menu{
    position: fixed;
    top: -12vw;
    left: 0;
    width: 100%;
    padding: .75vw 2rem 1.25vw;
    background: rgba(255,255,255,.95);
    transition: $out-transition;
    z-index: 50;

    .menu{
      margin: 0 auto;
      max-width: 1000px;
      display: flex;

      li{
        margin: 0 .75em 0 0;

        &:last-child{
          margin: 0;
        }
      }

      a{
        font-size: 1rem;
        padding: .5em;
        text-transform: uppercase;
        font-weight: 700;
        @include link(.15em);
      }
    }

    // Visibility properties
    &.hidden-main-menu{
      top: 0;
      transition: $in-transition;
    }
  }

  // Disable animation for admins
  .user-logged-in.toolbar-fixed{
    #block-shell-main-menu{
      position: relative;
      top: auto;
      left: auto;
    }  
  }
}

@media #{$medium-up}{

  // Header
  #block-shell-main-menu{

    .menu{

      a{
        font-size: 2.2vw;
      }
    }
  }
}

@media #{$large-up}{

  // Header
  #block-shell-main-menu{

    .menu{

      a{
        font-size: 1.5vw;
      }
    }
  }
}
