@media #{$small-up}{

  // About and resume
  .page-node-about{

    #block-aboutpageheader{
      color: $white;
      background: $blue;
      text-align: center;
      padding: 3rem 20px;

      h1{
        font-size: 15vw;
      }
    }
  }
}

@media #{$medium-up}{

  // About and resume
  .page-node-about{

    #block-aboutpageheader{

      h1{
        font-size: 10vw;
      }
    }
  }
}

@media #{$large-up}{

  // About and resume
  .page-node-about{

    #block-aboutpageheader{

      h1{
        font-size: 6.5vw;
      }
    }
  }
}
