@media #{$small-up}{

  .view-videos{
    background: $black;

    .node-teaser{
      display: flex;
    }

    .view-content,
    .views-infinite-scroll-content-wrapper{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .views-row{
      width: 50%;
      position: relative;
      overflow: hidden;
    }

    .views-field-field-image{
      z-index: 5;
    }

    .views-field-title{
      display: none;
      padding: 0;
      z-index: 10;
      position: absolute;
      bottom: -10vw;
      left: 0;
      width: 100%;
      transition: $out-transition;

      a{
        display: flex;
        width: 100%;
        font-size: 2.5vw;
        font-weight: 900;
        padding: 1.25em 1.5em;
        text-transform: uppercase;
        text-decoration: none;
        background: rgba(255,255,255,.95);
      }
    }
  }
}

@media #{$large-up}{

  .view-videos{

    .views-row{

      &:hover{

        .views-field-title{
          bottom: -1px;
          transition: $in-transition;
        }

        .views-field-field-image{

          img{
            transform: scale(1.1);
            transition: all ease-out 2.5s;
          }
        }
      }
    }

    .views-field-field-image{
      
      img{
        transform: scale(1.0075);
        transition: all ease-in .1s;
      }
    }

    .views-field-title{
      display: block;

      a{
        font-size: 1.5vw;
      }
    }
  }
}
