@media #{$small-up}{

  // Post page
  .page-node-posts{

    h1{
      font-size: 15vw;
      color: $white;
      background: $blue;
      text-align: center;
    }

    .field--name-field-page-body{
      padding: .5rem 0 2rem;
      color: $white;
      background: $blue;
      text-align: center;
    }

    .views-infinite-scroll-content-wrapper{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

@media #{$medium-up}{

  // Post page
  .page-node-posts{

    h1{
      font-size: 10vw;
    }
  }
}

@media #{$large-up}{

  // Post page
  .page-node-posts{

    h1{
      font-size: 6.5vw;
    }
  }
}
