@media #{$small-up}{

  .page-node-resume{

    #resume-presentation{
      min-height: 85vh;
      background: $black;
    }

    .panel{
      width: 100%;
      height: 100%;
      min-height: 0;
      max-height: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $white;
      overflow: hidden;

      &.visible{
        min-height: 85vh;
        max-height: 100%;
        transition: .5s all ease-out;
      }

      p{
        font-size: 1rem;
        padding: 0 0 1em;

        &:last-of-type{
          padding: 0;
        }
      }

      a{
        @include link-square;
      }

      ul{
        margin: 0;
        list-style: none;
        line-height: 1.8;

        .highlighted{
          font-weight: 900;
        }
      }

      h2{
        font-size: 2rem;
        padding: 0 0 .25em;
      }
    }

    .panel-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 800px;

      &.slides{
        display: inline-block;
        margin: 0 auto;
      }
    }

    .panel-cta{
      margin: 2em 0 0;
    }

    #intro,
    #outro{

      .panel-container{
        flex-direction: column;
        font-size: 7vw;

        p{
          opacity: .5;
          padding: .5em 0;
        }
      }
    }

    #job-hathway{
      background: #9fbc12;
    }

    #job-accuair{
      background: #000;
    }

    #job-imrc{
      background: #502d0e;
    }

    .job-stats{

      p{
        padding: 0;

        &:last-child{
          padding: 1em 0 0;
        }
      }
    }
  }
}

@media #{$medium-up}{

  .page-node-resume{

    #intro,
    #outro{

      .panel-container{
        flex-direction: row;
        font-size: 2.25vw;

        p{
          padding: 0;
        }
      }
    }
  }
}
