@media #{$small-up}{

  .view-web{

    .field-content{
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    .teaser-group{
      width: 100%;
    }

    .teaser-image{
      overflow: hidden;

      img{
        transform: scale(1.025);
        transition: all ease-out .1s;
      }
    }

    .teaser-content{
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .field--name-title{
      margin: 0;
      padding: 0;
    }

    .field--name-field-body{
      padding: 1vw 0 0;
      flex-grow: 1;
      max-width: 100%;
    }

    .field--name-field-tags{
      display: none;
    }
  }
}

@media #{$medium-up}{

  .view-web{

    .field--name-field-tags{
      display: flex;
      flex-wrap: wrap;
      padding: 1rem 0 0;

      li{
        margin: 0 1.5em 0 0;
        list-style: none;
        display: inline-block;

        &:last-child{
          margin: 0;
        }
      }

      a{
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.5;
        text-transform: uppercase;
      }
    }
  }
}

@media #{$large-up}{

  .view-web{

    .field-content{
      flex-direction: row;
    }

    .teaser-group{
      width: 50%;
    }

    .teaser-content{
      padding: 4vw;
      flex-direction: column;
    }

    .teaser-image{

      &:hover{

        img{
          transform: scale(1.1);
          transition: all ease-out 2.5s;
        }
      }
    }

    .field--name-field-body{
      padding: 1vw 0 0;
      flex-grow: 1;
    }

    .field--name-field-tags{
      display: flex;
      padding: 0;

      a{
        font-size: 1.3vw;
        margin-right: 1.5vw;
      }
    }

    .views-row:nth-child(even){

      .field-content{
        flex-direction: row-reverse;
      }
    }
  }
}
