@media #{$small-up}{

  // Web nodes
  .page-node-type-web{

    .field--name-field-body-text{

      p{
        padding: 0 1rem 2.5em;
        max-width: 45rem;
        margin: auto;

        &.project-cta{
          width: 100%;
          padding: 1rem;
          margin: 0 0 2.5em;
          color: $white;
          background: $blue;
          max-width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          @include link-square;
        }
      }
    }

    .field--name-field-tags{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      background: $black;
      padding: 5vw;
      position: relative;
      z-index: 15;

      a{
        color: $white;
        font-size: 1rem;
        margin: .75em;
        text-transform: uppercase;

        &:before,
        &:after{
          background: $white;
        }
      }
    }
  }
}

@media #{$medium-up}{

  // Web nodes
  .page-node-type-web{

    .field--name-field-tags{

      a{
        font-size: 2.5vw;
        margin: 0 .75em;
      }
    }
  }
}

@media #{$large-up}{

  // Web nodes
  .page-node-type-web{

    .field--name-field-body-text{

      p{
        max-width: 60vw;
      }
    }

    .field--name-field-tags{

      a{
        font-size: 1.8vw;
      }
    }
  }
}
