<header role="banner">

  {{ page.header }}

  {% if is_front == true %}
    <section id="hero" role="complementary">
      
      <div id="hero-photo">
        <img src="/themes/shell/images/hero.png" alt="Eric Shell" title="Eric Shell">
        <div id="hero-logo">
          <img src="/themes/shell/images/logo.svg" alt="Eric Shell logo" title="Eric Shell logo">
        </div>
      </div>

      <div id="hero-content">
        <p>I am a Digital Media Specialist capible of architecting comprehensive solutions using the latest available technologies.  I support my solutions with a robust approach to visual design and individualized content creation.</p>
      </div>

    </section>
  {% endif %}

</header>
