<section id="hero" role="complementary">

  <div id="hero-imagery">
    <div id="hero-background"></div>
    <div id="hero-logo"></div>
  </div>

  <div id="hero-content">
    {{ content.field_page_body }}
  </div>

</section>
