<section id="hero" role="complementary">

  <div id="hero-photo">
    <img src="/themes/shell/images/hero.png" alt="Eric Shell">
    <div id="hero-logo">
      <img src="/themes/shell/images/logo.svg" alt="Eric Shell logo">
    </div>
  </div>

  <div id="hero-content">
    {{ content.field_page_body }}
  </div>

</section>
