<section id="hero" role="complementary">

  <div id="hero-imagery">
    <div id="hero-background"></div>
    <div id="hero-logo"></div>
  </div>

  <div id="hero-content">
    <div class="field--name-field-body-text">

      <p>I am a Digital Media Specialist capable of architecting comprehensive solutions using the latest available technologies. I support my solutions with an educated approach to design and individualized content creation.</p>
      <p><a class="button round" href="/about">Learn more</a></p>

    </div>
  </div>

</section>
