{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.content: The main content of the current page.
 * - page.footer: Items for the footer region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

<section id="menu-toggle">

  <div class="menu-bar"></div>
  <div class="menu-bar"></div>
  <div class="menu-bar"></div>
  
</section>

<aside role="menu" id="sidebar">

  {{ page.sidebar }}

</aside>

<header>

  {{ page.header }}

</header>

<main role="main">

  <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
  {{ page.content }}

  <section id="resume-presentation">

    <div id="intro" class="slide visible">
      <a href="#download-top">Download my resume</a>
      <p>or</p>
      <a href="#begin-experience" class="next-slide start">Experience my resume</a>
    </div>

    <div id="overview" class="slide">
      <div class="slide-container">

        <h2>Overview</h2>

        <p>Accomplished Digital Media Specialist with a background in Web Development, Cinematography, Photography and Graphic Design. Strong academic qualifications including a Bachelor of Science in Design from Lehigh University and industry certifications from Acquia. Professional experience has ranged from agency work and educational institutions to internationally recognized corporations and freelance projects.</p>

      </div>
      <a href="#view-skillsets" class="next-slide">View my skillsets</a>
    </div>

    <div id="skillsets" class="slide">
      <div class="slide-container">

        <h2>WEB DEVELOPMENT</h2>

        <p>Solutions architect that leverages Drupal 7 and 8 as a CMS along with PHP, Twig, JavaScript, jQuery, Gulp, Grunt, SASS, LESS, CSS, HTML and MYSQL. Recognized as a leader and core project contributor with the ability to collaborate with internal and remote resources and team members. Well versed in using git and various agile methodologies. Ability to provide commerce, community, and marketing platforms for clients and employers.</p>

        <h2>CINEMATOGRAPHY &amp; PHOTOGRAPHY</h2>

        <p>Years of experience working both as an individual and with a full creative team. Proficient with the latest and most popular platforms including Sony A7 series, Canon full frame DSLRs and Nikon full frame DSLRs. Deep understanding the Final Cut Pro Suite, the Adobe Creative Suite, Lightroom and popular third party plugins.</p>

        <h2>GRAPHIC DESIGN</h2>

        <p>Strong understanding of visual fundamentals from a formal education at Lehigh University. A skillset that has been developing since middle school and has been the perfect outlet to other professional concentrations. Deep understanding of the Adobe Creative Suite for raster and vector based work.</p>

      </div>
      <a href="#view-education" class="next-slide">View my education</a>
    </div>        

    <div id="education" class="slide">
      <div class="slide-container">

        <h2>Education</h2>

        <ul>
          <li>Lehigh University College of Arts and Sciences Undergraduate Grant - 2011</li>
          <li>Lehigh University Strohl Grant - 2012</li>
          <li>Lehigh University Art, Architecture and Design Honors Program - 2012</li>
          <li>Lehigh University Bachelor's Degree in Design with a 3.5 GPA - 2013</li>
          <li>Acquia Certified Drupal Site Builder - 2015</li>
          <li>Acquia Certified Front End Specialist - 2016</li>
        </ul>

      </div>
      <a href="#view-hathway" class="next-slide">View my current position</a>
    </div>

    <div id="job-hathway" class="slide">
      <div class="slide-container">

        <h2 class="employer">Hathway</h2>

        <p class="position">Software Engineer</p>

        <p class="location">San Luis Obispo, California</p>

        <p class="duration">May 2015 - Present</p>

        <p class="description">Hathway is a mobile innovation agency with deep expertise in native mobile applications and large web platform development. Since 2008, Hathway has been helping global brands put useful mobile apps and brand experiences in the hands of customers at the right time and place. We turn insights from mobile and social data into innovative mobile applications, responsive web experiences, and digital products that not only engage users, but deliver real results to the clients.</p>

        <ul class="workload">
          <li>As a Software Engineer I am responsible for:</li>
          <li>Web development specializing in Drupal 7 and 8</li>
          <li>Custom responsive theme development, maintenance and support</li>
          <li>Custom task management development with Gulp and utilizing SCSS</li>
          <li>Advanced Drupal site architecting support and maintenance</li>
          <li>Custom module support and maintenance</li>
          <li>SEO troubleshooting and enhancement</li>
          <li>Ability to provide supporting graphic design work</li>
          <li>Update and throughly test Drupal Core and Module updates</li>
          <li>Promptly respond to team and client tickets and provide effective and valuable solutions</li>
          <li>Operate and develop well with on-site and remote team members</li>
        </ul>

      </div>
      <a href="#view-accuair" class="next-slide">View my previous position</a>
    </div>

    <div id="job-accuair" class="slide">
      <div class="slide-container">

        <h2 class="employer">AccuAir Suspension</h2>

        <p class="position">Digital Media Director</p>

        <p class="location">San Luis Obispo, California</p>

        <p class="duration">March 2013 - May 2015</p>

        <p class="description">AccuAir is devoted to bringing reliability, ease of use, improved handling, and ride comfort to vehicles with Air Suspension through the use of cutting-edge technology and the highest quality components available.</p>

        <ul class="workload">
          <li>As the Digital Media Director I was responsible for:</li>
          <li>Web development and innovation lead specializing in Drupal 7</li>
          <li>Supporting Cinematographer, Photographer for feature and event content</li>
          <li>Supporting Graphic Designer for digital and print media</li>
          <li>Advanced Drupal site architecting</li>
          <li>Develop and maintain the commerce user flow and user base</li>
          <li>Custom responsive theme development and maintenance</li>
          <li>Custom task management development with Grunt and utilizing LESS</li>
          <li>Update and throughly test Drupal Core and Module updates</li>
          <li>Providing weekly and monthly reports based on site traffic and revenue</li>
          <li>SEO enhancement and CRM development</li>
          <li>Content creation and publishing</li>
        </ul>

      </div>
      <a href="#view-imrc" class="next-slide">View my previous position</a>
    </div>

    <div id="job-imrc" class="slide">
      <div class="slide-container">

        <h2 class="employer">Lehigh University IMRC</h2>

        <p class="position">Web Designer and Cinematographer</p>

        <p class="location">Bethlehem, Pennsylvania</p>

        <p class="duration">June 2009 - June 2013</p>

        <p class="description">The IMRC is a multimedia center, part of the College of Arts and Sciences (CAS) at Lehigh University. This center provides digital solutions for the web using various applications. Utilizing a student team, the IMRC produces a number of new websites annually, and maintains over close to 100 Drupal sites, including the College site itself.</p>

        <ul class="workload">
          <li>As a Web Designer and Cinematographer I was responsible for:</li>
          <li>Basic Drupal 7 site architecting</li>
          <li>Responsive theme development in Drupal 7 and basic HTML sites</li>
          <li>Design and create updated themes for clubs and organizations</li>
          <li>Capturing, editing and coloring club and organization events on campus</li>
          <li>Motion graphic creation and design for use in videos</li>
          <li>Ability to teach less experienced students web development and video editing</li>
          <li>Maintain two Campus wide public TV stations and schedule content accordingly with Swank</li>
        </ul>

      </div>
      <a href="" class="next-slide">Take the next step</a>
    </div>

    <div id="outro" class="slide">

      <p>Now you have a pretty good idea of what I do</p>

      <div id="final-actions">
        <a href="/contact">Contact me</a> 
          <p>or</p>
        <a href="#download-bottom">Download my resume</a>
      </div>

    </div>

  </section>

</main>

<footer role="contentinfo">

  {{ page.footer }}

</footer>
