// Basic animated underline
@mixin link($underline-height){
  position: relative;
  text-decoration: none;
  display: inline-flex;
  overflow: hidden;

  &:before{
    content: '';
    height: $underline-height;
    width: 100%;
    background: transparent;
    position: absolute;
    bottom: 0;
    left: -100%;
    transition: $out-transition;
  }

  &:after{
    content: '';
    height: $underline-height;
    width: 100%;
    background: transparent;
    position: absolute;
    bottom: 0;
    right: -100%;
    transition: $out-transition;
  }

  &:hover{
    
    &:before{
      left: 0;
      background: $black;
      transition: $in-transition;
    }

    &:after{
      right: 0;
      background: $black;
      transition: $in-transition;
    }
  }
}

// Square emphasized link
@mixin link-square($border-color, $text-color, $active-text-color, $active-background-color){
  
  a{
    color: $text-color;
    border: 2px solid $border-color;
    margin: 0 .5em;
    padding: .5em .75em;
    transition: $out-transition;

    &:focus,
    &:hover{
      color: $active-text-color;
      background: $active-background-color;
      transition: $in-transition;
    }

    &:before,
    &:after{
      display: none;
    }
  }
}
