// Mixins

@mixin link-animation($height){
  position: relative;
  text-decoration: none;
  display: inline-flex;
  overflow: hidden;

  &:before{
    content: '';
    height: $height;
    width: 100%;
    background: transparent;
    position: absolute;
    bottom: 0;
    left: -100%;
    transition: $out-transition;
  }

  &:after{
    content: '';
    height: $height;
    width: 100%;
    background: transparent;
    position: absolute;
    bottom: 0;
    right: -100%;
    transition: $out-transition;
  }

  &:hover{
    
    &:before{
      left: 0;
      background: $black;
      transition: $in-transition;
    }

    &:after{
      right: 0;
      background: $black;
      transition: $in-transition;
    }
  }
}
