// Keyframe animations
@keyframes reveal{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;  
  }
  100%{
    opacity: 1;
  }
}

@keyframes fromRight{
  0%{
    opacity: 0;
    margin-right: -4rem;
  }
  100%{
    opacity: 1;
    margin-right: 0;
  }
}

@keyframes fromLeft{
  0%{
    opacity: 0;
    margin-left: -4rem;
  }
  100%{
    opacity: 1;
    margin-left: 0;
  }
}

// Basic animated underline
@mixin link($underline-height: 2px, $underline-color: $black){
  position: relative;
  text-decoration: none;
  display: inline-flex;
  overflow: hidden;

  &:before{
    content: '';
    height: $underline-height;
    width: 100%;
    background: transparent;
    position: absolute;
    bottom: 0;
    left: -100%;
    transition: $out-transition;
  }

  &:after{
    content: '';
    height: $underline-height;
    width: 100%;
    background: transparent;
    position: absolute;
    bottom: 0;
    right: -100%;
    transition: $out-transition;
  }

  &:hover{
    
    &:before{
      left: 0;
      background: $underline-color;
      transition: $in-transition;
    }

    &:after{
      right: 0;
      background: $underline-color;
      transition: $in-transition;
    }
  }
}

// Square emphasized link
@mixin link-square($base-color: $white, $active-text-color: $blue){
  
  a{
    color: $base-color;
    border: 2px solid $base-color;
    margin: 0 .5em;
    padding: .5em .75em;
    transition: $out-transition;

    &:focus,
    &:hover{
      color: $active-text-color;
      background: $base-color;
      transition: $in-transition;
    }

    &:before,
    &:after{
      display: none;
    }
  }
}

// Round emphasized link
@mixin link-round($base-color: $white, $active-text-color: $blue){
  
  a{
    color: $base-color;
    border: 2px solid $base-color;
    border-radius: 3em;
    margin: 0 .5em;
    padding: .5em 1.25em;
    transition: $out-transition;

    &:focus,
    &:hover{
      color: $active-text-color;
      background: $base-color;
      transition: $in-transition;
    }

    &:before,
    &:after{
      display: none;
    }
  }
}
