// Type
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

body{
  font-size: 100%;
  text-rendering:optimizeLegibility;
  font-family: 'Lato', sans-serif;
}

p{
  margin: 0 0 1rem;
  font-size: 1.4vw;
  line-height: 1.8;

  a{
    font-weight: 700;
  }

  &:last-child{
    margin: 0;
  }
}

a{
  color: $black;
  @include link-animation(2px);
}

h1{
  font-size: 6vw;
  font-weight: 900;
  text-transform: uppercase;
  a{
    @include link-animation(5px);
  }
}

h2{
  font-size: 3vw;
  font-weight: 900;
  text-transform: uppercase;
  a{
    @include link-animation(4px);
  }
}
