// Variables
$white: #ededed;
$black: #1c1f1e;

$red: #ff5959;
$yellow: #f9ff2c;
$green: #aeff33;
$cyan: #27c2ff;
$blue: #3c81fd;
$violet: #6209f8;

$in-transition: all .1s ease-in-out;
$out-transition: all .25s ease-in-out;